- name: Create directory
  ansible.builtin.file:
    path: /opt/ipseis
    state: directory
    mode: "0755"

- name: Create uploads directories
  ansible.builtin.file:
    path: "/opt/ipseis/data/{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - dev/uploads/contracts
    - dev/uploads/resources
    - stg/uploads/contracts
    - stg/uploads/resources
    - prod/uploads/contracts
    - prod/uploads/resources

- name: Copy project files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/opt/ipseis/{{ item }}"
    mode: "0644"
  loop:
    - .env.dev
    - .env.stg
    - .env.prod
    - docker-compose.yml

- name: Run docker compose up
  ansible.builtin.command:
    cmd: docker compose --profile dev --profile stg --profile prod up -d
    chdir: /opt/ipseis
