---
- name: Create Docker networks
  community.docker.docker_network:
    name: "{{ item }}"
    driver: bridge
    state: present
  loop: "{{ docker_networks }}"

- name: Check if mailcow network exists
  ansible.builtin.command: docker network inspect mailcowdockerized_mailcow-network
  register: mailcow_net
  ignore_errors: true
  changed_when: false

- name: Create mailcow-network (only if Mailcow not yet installed)
  community.docker.docker_network:
    name: mailcow-network
    driver: bridge
    driver_options:
      com.docker.network.bridge.name: br-mailcow
    enable_ipv6: true
    ipam_config:
      - subnet: "{{ mailcow_ipv4_network }}"
      - subnet: "{{ mailcow_ipv6_network }}"
    state: present
  when: mailcow_net.rc != 0
