---
- name: Install fail2ban
  ansible.builtin.apt:
    name: "{{ fail2ban_package }}"
    state: present

- name: Ensure fail2ban is running
  ansible.builtin.service:
    name: fail2ban
    state: started
    enabled: true
