services:
  traefik:
    image: traefik:v3
    container_name: traefik
    command:
      - "--api.dashboard=true"
      - "--api.insecure=false"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=odyssai-network"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      # Redirection HTTP -> HTTPS
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      # ACME
      - "--certificatesresolvers.letsencrypt.acme.email=joachim.jasmin-dev@proton.me"
      - "--certificatesresolvers.letsencrypt.acme.storage=/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./acme.json:/acme.json
    restart: unless-stopped
    networks:
      - global-network
      - mailcowdockerized_mailcow-network
      - odyssai-network
      - llama-network

networks:
  global-network:
    external: true
  odyssai-network:
    external: true
  llama-network:
    external: true
  mailcowdockerized_mailcow-network:
    external: true