x-ipseis-backend: &ipseis-backend-base
  restart: on-failure
  labels: &ipseis-labels
    traefik.enable: "true"
  networks:
    - global-network
    - ipseis-network

services:
  ipseis-backend-dev:
    container_name: ipseis-backend-dev
    image: jyok1m/ipseis-backend:dev
    profiles: [dev]
    env_file: [.env.dev]
    <<: *ipseis-backend-base
    labels:
      <<: *ipseis-labels
      traefik.http.routers.ipseis_backend_dev.entrypoints: websecure
      traefik.http.routers.ipseis_backend_dev.tls.certresolver: letsencrypt
      traefik.http.services.ipseis_backend_dev.loadbalancer.server.port: "3000"
      traefik.http.routers.ipseis_backend_dev.rule: Host(`ipseis-dev-backend.joachimjasmin.fr`)

  ipseis-backend-prod:
    container_name: ipseis-backend-prod
    image: jyok1m/ipseis-backend:latest
    profiles: [prod]
    env_file: [.env.prod]
    <<: *ipseis-backend-base
    labels:
      <<: *ipseis-labels
      traefik.http.routers.ipseis_backend_prod.entrypoints: websecure
      traefik.http.routers.ipseis_backend_prod.tls.certresolver: letsencrypt
      traefik.http.services.ipseis_backend_prod.loadbalancer.server.port: "3000"
      traefik.http.routers.ipseis_backend_prod.rule: Host(`ipseis-backend.joachimjasmin.fr`)

networks:
  global-network: { external: true }
  ipseis-network: { external: true }